@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

p {
    margin-top: 1.5em;
}
pre {
    margin-top: 1.5em;
}
ul, ol {
    margin-top: 1.5em;
}
h1, h2 {
    margin-top: 1.5em;
}
ul, ol {
    margin-left: 1em;
}

h1, h2, h3 { font-weight: 300; }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    max-width: 80ch;
    padding: 1ch;
    border-bottom: 1px solid rgba(0, 0, 0, .8);
}

.nav-link {
	font-family: "Open Sans", "DejaVu Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: rgba(0, 0, 0, .8);
    text-decoration: none;
}

.nav-link:hover {
    color: rgba(0, 0, 0, .8);
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 80ch;
    padding-left: 2ch;
    padding-right: 2ch;
}

footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    max-width: 80ch;
    padding: 1ch;
    margin-top: 1em;
    border-top: 1px solid rgba(0, 0, 0, .8);
}

.footer-link {
    padding-left: 2ch;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    white-space: nowrap;
}
.footer-link > .fa {
    color: rgba(0, 0, 0, .8)
}
footer > p {
    margin-top: 0;
}

.greeting {
    margin-top: 3em;
    text-align: center;
}

.greeting > h1 {
    font-weight: 400;
    font-size: 3em;
}

.greeting > p {
    font-size: 2em;
}

.source > img {
    width: 1em;
    height: 1em;
}

.source {
    color: black;
    text-decoration: none;
    font-size: 2em;
}
.source:hover {
    text-decoration: underline;
}


.post-list {
    margin-left: 0;
    list-style: none;
}

.post-list > li {
    margin-top: 2em;
}

.post-list h2 {
    margin-top: 0;
    font-size: 2em;
}

.post-meta {
    color: #828282;
    font-weight: 300;
    /* Help me! I know there should be some subgrid magic to align these spans... */
    display: inline-block;
    width: 13ch;
}

.post-link {
    font-weight: 400;
    text-decoration: none;
}

.post-link:hover {
    text-decoration: underline;
}
