body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 100%;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
}

#header-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 80ch;
    padding: 1ch;
    margin: 0 auto;
}

#header-logo {
    display: block;
    width: calc(17vw + 4rem);
    max-width: 200px;
    margin-right: 0.4rem;
}

#header-logo:hover, #header-logo:focus {
    opacity: 0.8;
}

a.nav-link, a.site-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a.nav-link {
    min-height: 40px;
	font-family: "Open Sans", "DejaVu Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: rgba(0, 0, 0, .8);
    text-decoration: none;
    border-radius: 4px;
}

a.nav-link:hover {
    text-decoration: underline;
}

#logo {
    width: calc(20% + 13rem);
    max-width: 95%;
}

main {
    flex-grow: 1;
    width: 100%;
    max-width: 80ch;
    padding-left: 2ch;
    padding-right: 2ch;
    margin: 0 auto;
}

footer {
    width: 100%;
    padding: 2ch;
    text-align: center;
    margin-top: 1rem;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
}

footer p {
    margin: 0;
}

.footer-link {
    margin: 0 1ch;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    white-space: nowrap;
}
.footer-link > .fa {
    color: rgba(0, 0, 0, .8)
}
footer > p {
    margin-top: 0;
}

.greeting {
    margin: 5rem 0 1rem 0;
    text-align: center;
}

.greeting > p {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin: 2.3em 0 1.25rem;
}

.source > img {
    width: 1.4rem;
    height: 1.4rem;
    vertical-align: -0.11rem;
}

a.source {
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
}
a.source:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.post-list {
    margin-left: 0;
    list-style: none;
}

.post-list > li {
    margin-top: 2rem;
}

.post-list h2 {
    margin-top: 0;
    font-size: 2rem;
}

.post-meta {
    color: #666666;
    font-weight: 300;
}

/* Help me! I know there should be some subgrid magic to align these spans... */
.post-first-col {
    display: inline-block;
    width: 16rem;
}

.post-link {
    font-weight: 400;
    text-decoration: none;
}

.post-link:hover {
    text-decoration: underline;
}
