* {
    box-sizing: border-box;
}

p {
    margin-top: 1.5em;
}
pre {
    margin-top: 1.5em;
}
ul, ol {
    margin-top: 1.5em;
}
h1 {
    margin-top: 1.5em;
    font-size: 2.3em;
}
h2 {
    margin-top: 1.5em;
    font-size: 2em;
}
ul, ol {
    margin-left: 1em;
}

h1, h2, h3 { font-weight: 300; }

a:link, a:visited {
    color: #1c6fef;
}

html {
    min-height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    margin: 0;
}

header {
    width: 100%;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
}

#header-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 80ch;
    padding: 1ch;
    margin: 0 auto;
}

#header-logo {
    display: block;
    width: 200px;
    margin-right: 7px;
}

#header-logo:hover, #header-logo:focus {
    opacity: 0.8;
}

a.nav-link, a.site-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .3s;
}

a.nav-link {
    min-height: 40px;
    padding: 0 20px;
	font-family: "Open Sans", "DejaVu Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: rgba(0, 0, 0, .8);
    text-decoration: none;
    border-radius: 4px;
}

a.nav-link:hover {
    background-color: #eeeeee;
}

#logo {
    width: calc(20% + 250px)
}

@media (max-width: 600px) {
    body {
        font-size: 18px;
    }
    
    #header-logo {
        width: 150px;
    }
    
    a.nav-link {
        padding: 0 7px;
    }
    
    #logo {
        width: 95%;
        max-width: 360px;
    }
}

@media (max-width: 450px) {
    body {
        font-size: 15px;
    }
    
    #header-logo {
        width: 110px;
    }
}

main {
    flex-grow: 1;
    width: 100%;
    max-width: 80ch;
    padding-left: 2ch;
    padding-right: 2ch;
    margin: 0 auto;
}

footer {
    width: 100%;
    padding: 2ch;
    text-align: center;
    margin-top: 1em;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
}

footer p {
    margin: 0;
}

.footer-link {
    margin: 0 1ch;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    white-space: nowrap;
}
.footer-link > .fa {
    color: rgba(0, 0, 0, .8)
}
footer > p {
    margin-top: 0;
}

.greeting {
    margin: 2em 0 1em 0;
    text-align: center;
}

.greeting > h1 {
    font-weight: 400;
    font-size: 3em;
}

.greeting > p {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 2em 0 1em;
}

.source > img {
    width: 1em;
    height: 1em;
    vertical-align: -3px;
}

a.source {
    color: black;
    text-decoration: none;
    font-size: 1.4em;
}
a.source:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}


.post-list {
    margin-left: 0;
    list-style: none;
}

.post-list > li {
    margin-top: 2em;
}

.post-list h2 {
    margin-top: 0;
    font-size: 2em;
}

.post-meta {
    color: #666666;
    font-weight: 300;
    /* Help me! I know there should be some subgrid magic to align these spans... */
    display: inline-block;
    width: 13ch;
}

.post-link {
    font-weight: 400;
    text-decoration: none;
}

.post-link:hover {
    text-decoration: underline;
}

/* Color scheme for code, same as the one used by ferrous-systems.com */
pre {
    padding: 1ch;
    background-color:#f8f8f8;
}

.highlight .cm {
    color:#999988;
    font-style:italic
}
.highlight .cp {
    color:#999999;
    font-weight:bold
}
.highlight .c1 {
    color:#999988;
    font-style:italic
}
.highlight .cs {
    color:#999999;
    font-weight:bold;
    font-style:italic
}
.highlight .c,
.highlight .cd {
    color:#999988;
    font-style:italic
}
.highlight .err {
    color:#a61717;
    background-color:#e3d2d2
}
.highlight .gd {
    color:#000000;
    background-color:#ffdddd
}
.highlight .ge {
    color:#000000;
    font-style:italic
}
.highlight .gr {
    color:#aa0000
}
.highlight .gh {
    color:#999999
}
.highlight .gi {
    color:#000000;
    background-color:#ddffdd
}
.highlight .go {
    color:#888888
}
.highlight .gp {
    color:#555555
}
.highlight .gs {
    font-weight:bold
}
.highlight .gu {
    color:#aaaaaa
}
.highlight .gt {
    color:#aa0000
}
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr {
    color:#000000;
    font-weight:bold
}
.highlight .kt {
    color:#445588;
    font-weight:bold
}
.highlight .k,
.highlight .kv {
    color:#000000;
    font-weight:bold
}
.highlight .mf,
.highlight .mh,
.highlight .il,
.highlight .mi,
.highlight .mo,
.highlight .m,
.highlight .mb,
.highlight .mx {
    color:#009999
}
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx {
    color:#d14
}
.highlight .sr {
    color:#009926
}
.highlight .s1 {
    color:#d14
}
.highlight .ss {
    color:#990073
}
.highlight .s {
    color:#d14
}
.highlight .na {
    color:#008080
}
.highlight .bp {
    color:#999999
}
.highlight .nb {
    color:#0086B3
}
.highlight .nc {
    color:#445588;
    font-weight:bold
}
.highlight .no {
    color:#008080
}
.highlight .nd {
    color:#3c5d5d;
    font-weight:bold
}
.highlight .ni {
    color:#800080
}
.highlight .ne,
.highlight .nf,
.highlight .nl {
    color:#990000;
    font-weight:bold
}
.highlight .nn {
    color:#555555
}
.highlight .nt {
    color:#000080
}
.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .nv {
    color:#008080
}
.highlight .ow,
.highlight .o {
    color:#000000;
    font-weight:bold
}
.highlight .w {
    color:#bbbbbb
}
