<!DOCTYPE html>
<html lang="en-US">

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/asciidoctor.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/rouge-github.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
    href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/fav/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/fav/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/fav/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">
  <link rel="mask-icon" href="/assets/fav/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  {% if page.url != "/" %}
  <header>
    <div id="header-inner">
      <a class="site-title" href="{{ site.baseurl }}/">
        <img src="/assets/rust-analyzer.svg" alt="rust analyzer" id="header-logo">
      </a>
      <a class="nav-link" href="https://opencollective.com/rust-analyzer/">Sponsor</a>
      <a class="nav-link" href="/manual.html">Docs</a>
      <a class="nav-link" href="/blog">Blog</a>
      <a class="nav-link" href="/thisweek">Changelog</a>
    </div>
  </header>
  {% endif %}

  <main>
    {{ content }}
  </main>

  <footer>
    <p>
      <a href="{{ '/feed.xml' | prepend: site.baseurl }}" class="footer-link">
        <i class="fa fa-rss"></i> rss
      </a>
      <a href="https://github.com/rust-analyzer/rust-analyzer.github.io" class="footer-link">
        <i class="fa fa-github"></i> src
      </a>
      <a href="https://opencollective.com/rust-analyzer/" class="footer-link">
        <i class="fa fa-github"></i> sponsor
      </a>
    </p>
  </footer>
</body>

</html>
